Repository d33disc/mongodb-ai-hub, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, api, security, database, testing, devops, dependencies, config, frontend, kids-guide, utils, cloud

🚀 Complete production-ready MongoDB AI Hub with comprehensive testing
  .dockerignore
  Dockerfile
  Dockerfile.prod
  SETUP_COMPLETE.md
  config/nginx.conf
  docker-compose.prod.yml
  docker-compose.yml
  docs/PRODUCTION_DEPLOYMENT.md
  package-lock.json
  scripts/docker-dev.sh
  scripts/init-mongo.js
  scripts/setup-local.sh
  tests/auth.test.js
  tests/final-validation.test.js
  tests/integration.test.js
  tests/test-auth-routes.js
  tests/test-prompt-routes.js
  tests/test-server.js
  tests/test-vectorstore-routes.js
Labels: documentation, security, testing, devops, dependencies

📚 Add comprehensive user guides and live demo instructions
  LIVE_DEMO.md
  QUICK_START_GUIDE.md
Labels: documentation

chore: Clean up formatting in launch.json
  .vscode/launch.json
Labels: none

📚 Add comprehensive MongoDB and tools setup documentation
  TOOLS_AND_DEPENDENCIES.md
  docs/ARCHITECTURE_AND_TOOLS.md
  docs/COMPLETE_SETUP_GUIDE.md
Labels: documentation

🚀 Deploy MVP with MongoDB Atlas integration
  .env.atlas
  .env.backup
  .env.template.secure
  ATLAS_SETUP_COMPLETE.md
  MVP_TESTING_GUIDE.md
  demo_mvp.py
  test_mvp.py
Labels: documentation, config

🚀 FORCE DEPLOY: MVP Production Deployment Package
  DEPLOY.sh
  DEPLOYMENT_GUIDE.md
  app.json
  railway.json
  render.yaml
  vercel.json
Labels: documentation

✅ FINAL: MVP Deployment Complete - Production Ready
  DEPLOYMENT_STATUS.md
Labels: documentation

📚 Complete Token Usage Documentation and Final MVP Updates
  HOW_TO_USE_TOKEN.md
Labels: documentation

🎉 FINAL PROJECT SUMMARY: MongoDB AI Hub MVP Complete
  PROJECT_COMPLETE_SUMMARY.md
Labels: documentation

Add sync report
  repo_sync_report.md
Labels: documentation

🧹 Clean up temporary test file
  test_mvp.py
Labels: none

.github/labeler.yml:

# üè∑Ô∏è Auto-labeling configuration for MongoDB AI Hub

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Core API changes  
api:
  - 'src/api/**/*'
  - 'src/routes/**/*'

# Authentication & security
security:
  - 'src/middleware/auth.js'
  - 'src/utils/jwt.js'
  - '**/auth*'

# Database & models
database:
  - 'src/models/**/*'
  - 'src/config/db.js'
  - '**/mongo*'

# Testing
testing:
  - 'tests/**/*'
  - '**/*.test.js'
  - '**/*.spec.js'
  - 'jest.config.js'

# CI/CD & DevOps
devops:
  - '.github/**/*'
  - '.devcontainer/**/*'
  - 'Dockerfile*'
  - 'docker-compose*'
  - '.gitpod.yml'
  - '.replit'

# Dependencies
dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'

# Configuration
config:
  - '.env*'
  - '**/*config*'
  - '.eslintrc*'
  - '.prettierrc*'

# Frontend (if applicable)
frontend:
  - 'public/**/*'
  - 'client/**/*'
  - '**/*.html'
  - '**/*.css'

# Kids guide specific
kids-guide:
  - 'docs/KIDS_GUIDE.md'
  - '**/kid*'

# Utilities
utils:
  - 'src/utils/**/*'
  - 'src/helpers/**/*'

# Cloud deployment
cloud:
  - '.devcontainer/**/*'
  - '.gitpod.yml'
  - '.replit'
  - '**/cloud*'
  - '**/auto-start*'
